<% javascript_include_tag "blueimp-gallery.js" %>
<% javascript_include_tag "blueimp-gallery-fullscreen.js" %>
<% javascript_include_tag "blueimp-gallery-indicator.js" %>
<script>
  $(document).ready(function () {
    var gallery;
    var links = this.getElementsByTagName('img');
    console.log('links' + links.length);

    document.getElementsByClassName('img-responsive').onclick = function (event) {
      event = event || window.event;
      var target = event.target || event.srcElement,
          link = target.src ? target.parentNode : target,
          options = {index: link, event: event, fullScreen: true},
          links = this.getElementsByTagName('a');

      blueimp.Gallery(links, options);
    };
    $('.img-responsive').click(function(event){
      event = event || window.event;
      var target = event.target || event.srcElement,
          link = target.src ? target.parentNode : target,
          options = {index: link, event: event, fullScreen: true};
      links = document.getElementsByClassName('img-responsive');
      blueimp.Gallery(links, options);

    })
  });
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAim9hgtYAZ6YGOabhLc3rVvcjGYwpU3cc&libraries=places,geometry"></script>

<div class="col-sm-12">
  <div class="col-sm-5 col-sm-offset-1">
    <h2>      <%= t(:transportation) %> </h2>
    <p>
      <strong>Date:</strong>
      <%= @posting.date %>
    </p>

    <p id="notice"><%= notice %></p>
    <p>
      <strong><%= t(:post_title) %>:</strong>
      <%= @posting.posting_title %>
    </p>

    <p>
      <strong><%= image_tag('markera-sm.png', size: '25x25', alt: 'A') %><%= t(:from)%>:</strong>
      <%= @posting.address_1 %>
    </p>

    <p>
      <strong><%= t(:to) %>:</strong>
      <%= @posting.address_2 %>
    </p>
    <% !if @posting.approved == 1 %>
        <div class="form-group col-sm-12">
          <input type = "button" VALUE= "<%= t :reply %>" onClick="parent.location='mailto:<%= @posting.user_table.email %>?subject=re:<%= @posting.posting_title %>'"
                 class = 'btn btn-primary'
                 style ="">
          <% if !@posting.address.hiacode.nil? %>
              <input type = "button" VALUE= "<%= t :share %>" onClick="parent.location='mailto:?subject=re:<%= @posting.posting_title %>&body=http://www.afrikelist.com/post/postings/showhcode/<%= @posting.address.hiacode %>'"
                     class = 'btn btn-info'
                     style ="">
          <% end %>
        </div>
    <% end %>
    <p>
      <strong><%= t(:transportation_price) %>:</strong>
      <%= @posting.posting_price %>
    </p>

    <p>
      <strong><%= t(:space) %>:</strong>
      <%= @posting.space %>
    </p>
    <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" style="">
      <div class="slides" style=""></div>
      <h3 class="title"></h3>
      <a class="prev">‹</a>
      <a class="next">›</a>
      <a class="play-pause"></a>
      <ol class="indicator"></ol>
    </div>
    <div id='links' class="form-group col-sm-12">
      <% @post_attachment.in_groups_of(2, false).each do |group| %>
          <div class="row">
            <% group.each_with_index do |image, index| %>
                <div class="col-sm-6">
                  <%= link_to(image_tag(image.image_url(:thumb)), image.image_url.to_s, :data => {:index => index}, class: 'img-responsive') %>
                  <%#= image_tag image.image_url(:thumb).to_s , class: 'img-responsive' %>
                </div>
            <% end %>
          </div>
      <% end %>
    </div>
  </div>
  <div class="col-sm-6">
    <div id="googlemaps" style="height: 600px; width: 600px;border: black">
      <%= requirejs_include_tag 'addLocation' %>
    </div>
  </div>
</div>
<input id="address_lat" style="display:none;" name="posting[lat]" value="<%= @posting.lat %>">
<input id="address_lng" style="display:none;" name="posting[lng]" value="<%= @posting.lng %>">
<div class="col-sm-offset-2">
  <% if logged_in? %>
      <%= link_to t(:edit), posting_edit_transport_path(@posting) %> |
  <% end %>
  <%= link_to t(:back), postings_path %>
</div>