<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Orange Money Transfer</title>
  <link rel="stylesheet" type="text/css" href="http://global.design-editor.com/v8/base.css"/>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
  <%= stylesheet_link_tag 'orange.css' %>
  <%= javascript_include_tag 'orange.js' %>

<html>
<body>
<%= render "partials/flash"%>
<div class="orange-container">
  <header>
    <h1>AFRIKELIST :</h1>
    <h3>Partners with Orange and Tigo</h3>

  </header>

  <div class="container">
    <%= form_tag save_credits_path, :method => :get do%>
    <!-- <form> -->
      <div>
       <h2> SIMULATION OF TRANSFER</h2> 
       </div>
       <div>              
            Daily Conversion Rate: 1 USD = <span id="currency_rate"><%= get_fox_rate_for_usd%></span> FCFA
        </div>        
          <h2>Credit to be sent</h2>
          <input type="hidden" name="" id="usd_to_xof" value="<%= get_usd_rate_for_fox%>">
          <input type="text" placeholder="USD" id="usd" name="payment_details[credits]" required="true"  readonly="readonly" value="<%= get_usd_rate_for_fox%>"><label><span style="margin-left: 9px;">Amount in USD you wish to send </span> <br/><span style="font-size: 10px;">(if you are a holder of a European Credit Card, you will be able to pay in Euros as well) </span></label>  <br/>    
          <span id="valid_usd"></span><br/>
          <input type="text" placeholder="FCFA" id="xof" value="1"> <label><span style="margin-left: 9px;">Amount in FCFA your recipient</span> <br/>in Senegal will receive</label><br/>         
       </div>

       <div>
        <h2>Fees</h2>          
          <input type="text" placeholder="Fees" id= "fees" readonly="readonly"> USD
       </div>

       <div>
        <h2>Total Transaction Cost</h2>
          <input type="text" placeholder="TTUS" id= "ttus" name="payment_details[ttus]" readonly="readonly">
       </div>
       <div>
        <!-- <h2>Total Cost:</h2>
          <b><span id="total_cost_usd">0</span> USD</b> &nbsp; &nbsp;<b><span id="total_cost_fcfa">0</span> FCFA</b>
       </div>
            <div><h2>You wish to pay:</h2>
                    <select required="" style="width: 125px;" name="payment_details[currencyCode]">
                       <option value="USD">USD</option>
                        <option value="EUR">EUR</option>
                    </select>
            </div> -->
            <hr/>
        <div>
          <input type="submit" id="proceed" value="Proceed to Payment &nbsp; >>">
        </div>
      
    <%end%>
  </div>
</div>
   
</body>
</html>

<style type="text/css">
  form label {
    color: #555;
    display: block;
    font-size: 14px;
    font-weight: 400;
}
</style>