<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Orange Money Transfer</title>
  <link rel="stylesheet" type="text/css" href="http://global.design-editor.com/v8/base.css"/>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
  <%= stylesheet_link_tag 'orange.css' %>
  <%= javascript_include_tag 'orange.js' %>

<html>
<body>
<%= render "partials/flash"%>
<div class="orange-container">
  <header>
    <h1>AfrikeList :</h1>
    <h3>Orange Facture</h3>

  </header>

  <div class="container">
    <%= form_tag save_credits_path, :method => :post do%>
    <!-- <form> -->
      <div>
       <h2> SIMULATION OF TRANSFER</h2> 
       </div>
       <div>              
            Daily Conversion Rate: 1 USD = <span id="currency_rate"><%= get_fox_rate_for_usd%></span> XOF
        </div>        
          <h2>Credit to be sent</h2>
          <input type="text" placeholder="USD" id="usd" name="payment_details[credits]" required="true"> USD <br/>      
          <input type="text" placeholder="XOF" id="xof" readonly="readonly" value="<%= get_fox_rate_for_usd%>"> XOF <br/>         
       </div>

       <div>
        <h2>Fees</h2>          
          <input type="text" placeholder="Fees" id= "fees" readonly="readonly"> USD
       </div>

       <div>
        <h2>Total Transaction Cost</h2>
          <input type="text" placeholder="TTUS" id= "ttus" name="payment_details[ttus]" readonly="readonly">
       </div>
        <div>
          <input type="submit" value="Proced to payment &nbsp; >>">
        </div>
      
    <%end%>
  </div>
</div>
   
</body>
</html>
